pandas>=2.1.0,<2.2.0
numpy>=1.26.0,<2.0.0
matplotlib>=3.7.0,<3.8.0
seaborn>=0.13.0
plotly>=5.20.0
scikit-learn>=1.4.0,<1.5.0
pycaret==3.3.2
category-encoders>=2.6.0,<2.7.0
imbalanced-learn>=0.12.0,<0.13.0
pyarrow>=15.0.0
fastparquet>=2024.2.0
jupyter>=1.0.0
notebook>=7.1.0
ydata-profiling>=4.8.0
kaggle>=1.6.6
